<header>
  <nav>
    <mat-toolbar>
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
      </div>
      <div class="logo-container" fxShow [fxShow.xs]="false">
        <a mat-button class="companyName logo-link" routerLink="/">
          <img src="assets/logo/logo.png" alt="logo movieApp" class="logo">
        </a>
      </div>
      <span class="spacer-nav"></span>
      <div fxShow="true" fxHide.lt-md="true" class="link-container">
        <a mat-button routerLink="/">home</a>
        <a mat-button routerLink="/">movies</a>
        <a mat-button routerLink="/">series</a>
        <a mat-button routerLink="/">genres</a>
      </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>

      <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true" class="responsive-container">
        <div fxLayout="column">
          <a mat-button routerLink="/">home</a>
          <a mat-button routerLink="/">movies</a>
          <a mat-button routerLink="/">series</a>
          <a mat-button routerLink="/">genres</a>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </nav>
</header>


